.container {
  max-width: 47rem;
  padding: 1rem;
  margin: 3rem auto 6rem;
  background: #fff;
  border-radius: 2px;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #dadada;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (max-width: 500px) {
  .container {
    margin: 2rem auto;
    width: 90vw;
  }
}
